/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
/* Базовые переходы для сердца */
.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  fill: var(--heart-fill-color);
  opacity: 0;
}

/* Ховер на иконке*/
.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

/* Активное состояние (нажатие) */
.like-icon:active .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.05s linear;
}

/* Лайкнутое состояние */
.like-icon.is-liked .core {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill-color);
  transition: fill 0.3s 0.06s linear;
}

/* Keyframes для анимаций */
@keyframes scale-heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Применение анимаций */
.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s;
}